.git
.github
.benchmarks
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.venv-*
__pycache__
*.pyc
.coverage
.coverage.*
htmlcov
build
dist
output
*.log
manage-*.log
*.db
*.sqlite
*.sqlite3
.env
.env.*
!.env.example
docker-compose*.yml
Dockerfile.ci-local
